.item__title {
  width: 10rem;
  min-height: 1.6rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  margin-top: 0.5rem;
  margin-left: 1.25rem;

  color: #333333;
  max-height: 24px;

  text-overflow: ellipsis;
}
